<ion-view view-title="我的预订">
    <ion-content>
        <div class="list">
            <div class="item item-icon-left">
                <i class="icon ion-key"></i> 房间号：{{reservation.room}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-calendar"></i> 入住时间：{{reservation.checkin | date:"yyyy年MM月dd日"}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-calendar"></i> 离开时间：{{reservation.checkout | date:"yyyy年MM月dd日"}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-wifi"></i> WIFI：{{reservation.wifi}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-pricetag"></i> 价格：{{reservation.price | currency:"￥"}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-pricetag"></i> 总金额：{{reservation.price * 7 | currency:"￥"}}
            </div>
        </div>
    </ion-content>
</ion-view>