<ion-view view-title="火星度假村" hide-back-button="true">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" ui-sref="reservation">
                <i class="icon ion-document-text calm"></i>
                查看您的预订
            </a>
            <a class="item item-icon-left" ui-sref="weather">
                <i class="icon ion-ios-sunny calm"></i>
                当前天气预报
            </a>
            <a class="item item-icon-left" ui-sref="restaurants">
                <i class="icon ion-fork calm"></i>
                查看附近餐馆
            </a>
        </div>
    </ion-content>
</ion-view>